// variables
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
//@import url('https://fonts.googleapis.com/css?family=PT+Sans');
//@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');


$warning: #ffba05;
$danger: #f16165;
$success: #40cab3;
$info: #5c9eff;


$border-radius: 0;

$primary: $info;

$btn-padding-x: 25px;

$enable-shadows: false;

$spacer: 1.0rem;

$font-size-base: 0.9rem;

@import '~bootstrap/scss/bootstrap';