@import "../../../../assets/scss/variables.scss";

#main {
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar, .main {
  height: calc(100vh - 69px);
}
.sidebar {
  padding: 0;
  .nav-title {
    padding: 0.95rem 1rem;
    font-size: 80%;
    color: #9faecb;
    font-weight: lighter;
    text-transform: uppercase;
    span:after {
      position: absolute;
      margin-left: 10px;
      width: 25px;
      height: 1px;
      margin-top: 9px;
      content: '';
      border-bottom: 1px solid #9faecb;
    }
    span:before{
      position: absolute;
      margin-top: 9px;
      margin-left: -35px;
      width: 25px;
      height: 1px;
      //margin-top: -1px;
      content: '';
      border-bottom: 1px solid #9faecb;
    }
  }
}
.nav-style {
  background: #384042;
  .nav {
    .nav-link {
      font-weight: 300;
      color: #fff;
      fa {
        font-size: 1.1rem;
        color: #8ba9c7;
        display: inline-block;
        width:27px;
      }
      &:hover {
        background: #2c3334;
        fa {
          color: white;
        }
      }
      &.active{
        background: #2c3334 !important;
        fa {
          color: #21a8d8;
        }
      }
    }
  }
}

// header {
#navbarNav {
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    .nav-link {
      padding: 0;
      border-bottom: 2px solid #ffffff00;
      &.active {
        border-bottom-color: $primary;
      }
    }
  }
}