<!-- container all layout -->
<div class="w-100 mh-100 h-100 mw-100">
    <div class="container-fluid p-0 mt-1 border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light rounded">
            <h1 class="h2 ">
                <img src="/assets/img/neptune.svg" width="40px" alt="">
                neptune
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Configurações</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-md-4">
                    <li class="nav-item mr-4">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="O que procura?">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary btn-sm">
                                    <fa name="search"></fa>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group">
                            <button class="btn btn-outline-primary btn-sm">
                                pedrolion1@hotmail.com
                                <fa name="arrow-down"></fa>
                            </button>
                            <button class="btn btn-primary btn-sm">
                                <fa name="cog"></fa>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid h-100">
        <div class="row">
            <div class="col-md-2 nav-style sidebar">
                <div class="">
                    <div class="nav flex-column nav-pills">
                        <li class="nav-title text-center"><span>MENU</span></li>
                        <a class="nav-link" routerLink="/clientes" routerLinkActive="active">
                            <fa name="id-card" class="mr-2"></fa>
                            Clientes
                        </a>
                        <a class="nav-link" href="#">
                            <fa name="cogs" class="mr-2"></fa>
                            Produtos/Serviços
                        </a>
                        <a class="nav-link" href="#">
                            <fa name="money" class="mr-2"></fa>
                            Financeiro
                        </a>
                        <a class="nav-link" href="#">
                            <fa name="paperclip" class="mr-2"></fa>
                            Orçamento
                        </a>
                    </div>
                </div>
            </div>

            <div id="main" class="col-md-10 main d-flex align-items-stretch flex-column scrollbar p-0">

                    <div class="p-3 flex-grow-1">
                        <router-outlet></router-outlet>
                    </div>

                    <footer class="border-top p-3 bg-light">
                        <div class="d-flex justify-content-between">
                            <div class="text-left ">
                                @2018 Neptune Copyright. All right reserved.
                            </div>
                            <div class="text-right">
                                Developer by <a href="https://plima.me">Pedro Lima</a> and <a href="#">Lucas</a>
                            </div>
                        </div>
                    </footer>

            </div>
        </div>
    </div>
</div>