<!-- Modal -->

<div class="w-100 d-flex justify-content-center align-items-center py-5" *ngIf="!this.formClient">
    <img src="/assets/img/spinner.gif" alt="" width="100px" height="100px">
</div>

<form [formGroup]="formClient" (submit)="onSubmit()" class="card" *ngIf="this.formClient">
    <h5 class="card-header">
        <h5 class="modal-title">Novo Cliente</h5>
    </h5>
    <div class="card-body">

        <div class="row">

            <div class="col-12">
                <h1 class="h6 font-weight-bold">Sobre o Cliente</h1>
                <hr>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input id="name"
                           type="text"
                           class="form-control"
                           [ngClass]="applyCSSInvalid('formClient', 'name')"
                           formControlName="name">
                    <div class="invalid-feedback">
                        Nome é um campo obrigatório
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email"
                           type="text"
                           class="form-control"
                           formControlName="email"
                           [ngClass]="applyCSSInvalid('formClient', 'email')">
                    <div class="invalid-feedback">
                        E-mail inválido
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="telephone">Telefone</label>
                    <input id="telephone"
                           type="text"
                           class="form-control"
                           formControlName="telephone">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="cnpj">CNPJ</label>
                    <input id="cnpj"
                           type="text"
                           class="form-control"
                           formControlName="cnpj">
                </div>
            </div>

            <div class="col-12">
                <h1 class="h6 font-weight-bold">Endereço</h1>
                <hr>
            </div>


            <div class="col-12 col-md-6">
                <label for="zipcode">CEP</label>
                <div class="input-group">
                    <input id="zipcode"
                           type="text"
                           class="form-control"
                           formControlName="zipcode">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" (click)="findZipCode()">Buscar</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="street">Lagradouro</label>
                    <input id="street"
                           type="text"
                           class="form-control"
                           formControlName="street">
                </div>
            </div>


            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="neighborhood">Bairro</label>
                    <input id="neighborhood"
                           type="text"
                           class="form-control"
                           formControlName="neighborhood">
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label for="number">Número</label>
                    <input id="number"
                           type="text"
                           class="form-control"
                           formControlName="number">
                </div>
            </div>

            <div class="col-12 col-md-5">
                <div class="form-group">
                    <label for="complement">Complemento</label>
                    <input id="complement"
                           type="text"
                           class="form-control"
                           formControlName="complement">
                </div>
            </div>


            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label for="state">Estado</label>
                    <select id="state"
                            type="text"
                            class="form-control"
                            formControlName="state_id">
                        <option
                                *ngFor="let state of states"
                                value="{{ state.id }}">
                            {{ state.uf }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-md-3" *ngIf="cities">
                <div class="form-group">
                    <label for="city">Cidade</label>
                    <select id="city"
                            type="text"
                            class="form-control"
                            formControlName="city">
                        <option
                                *ngFor="let city of cities"
                                value="{{ city.id }}">
                            {{ city.name }}
                        </option>
                    </select>
                </div>
            </div>


        </div>

    </div>
    <div class="modal-footer">
        <button routerLink="/clientes" type="button" class="btn btn-outline-danger">Cancelar e voltar</button>
        <button type="submit" class="btn btn-primary" *ngIf="action == 'new'">Adicionar Cliente</button>
        <button type="submit" class="btn btn-primary" *ngIf="action == 'edit'">Salvar alterações</button>
    </div>
</form>
