<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>

<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" routerLink="/clientes/novo">
        Novo cliente
        <fa class="ml-2" name="plus"></fa>
    </button>
</div>

<div class="w-100 d-flex justify-content-center align-items-center py-5" *ngIf="!clientes">
    <img src="/assets/img/spinner.gif" alt="" width="100px" height="100px">
</div>

<div class="card"  *ngIf="clientes">
    <div class="card-header">
        Clientes
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm table-bordered">
                <thead class="">
                <tr class="">
                    <th>#</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>CNPJ</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let client of clientes; let i = index">
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.telephone }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.cnpj }}</td>
                    <td class="d-flex flex-row justify-content-end">
                        <button class="btn btn-warning btn-sm mr-2" (click)="destroy(client.id, i)">Remover</button>
                        <button class="btn btn-primary btn-sm"
                                routerLink="/clientes/{{client.id}}/editar">Editar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>