@import "assets/scss/variables";
@import "~bootstrap/scss/bootstrap";

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}


body {
  background-color: #00000000 !important;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

// scrollbar
.scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
/**  STYLE 4 */
.scrollbar::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #999;
  //border: 2px solid #555555;
}

